body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #938b59;
    background-color: #070706;
}
  
  ::-webkit-scrollbar {
    display: none;
}
  


header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    padding: 0px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
    backdrop-filter: blur(2rem);
    background: rgba(0, 0, 0, 0.);
    padding: 20px 0;
    z-index: 1000;
    padding: 0;
    line-height: 3;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    padding: 0;
}

nav ul li {
    margin: 0px 25px;
    align-items: center;
}

nav ul li:first-child {
    margin-right: auto;
}

nav ul li a {
    text-decoration: none;
    color: #a48c35;
    text-align: center;
}

nav ul li a:hover {
    color: #fff;
}

nav ul li a.active {
    color: #fff;
    font-weight: bold;
}
.menu {
    display: none; /* Hide by default */
  }

.full-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
.half-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
}

.welcome-text {
    max-width: 800px;
    margin: 0 auto;
}

.quote {
    font-size: 1.2em;
    margin-top: 50px;
    color: #35311a;
}
.quote-phone {
   
    display: none;
}


.main-text {
    font-size: 10em;
    font-weight: bold;
    margin-top: 400px;
    color: #938b59;
}

/* Section Styles */
section {
    padding: 60px 20px;
}

#about, #portfolio, #contact {
    text-align: center;
}
/* Section Styles */
section {
    padding: 60px 20px;
}

#home {
    background-image: url('./assets/PicsArt_01-24-10.45.50.jpg');
    background-size: cover;
    background-position: center;
}


@media (max-width: 568px) {

   
    .menu {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      padding: 0;
      position: fixed;
      top: 0px;
      right: 10px;
      z-index: 5000;
      width: 50px;
      height: 50px;
    }
    .line {
      fill: none;
      stroke: black;
      stroke-width: 6;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .line1 {
      stroke-dasharray: 60 207;
      stroke-width: 6;
    }
    .line2 {
      stroke-dasharray: 60 60;
      stroke-width: 6;
    }
    .line3 {
      stroke-dasharray: 60 207;
      stroke-width: 6;
    }
    .opened .line1 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
    }
    .opened .line2 {
      stroke-dasharray: 1 60;
      stroke-dashoffset: -30;
      stroke-width: 6;
    }
    .opened .line3 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
    }
  
    nav ul {
      display: none; /* Hide the navigation links */
    }
  
    nav ul.active {
      display: block; /* Show the navigation links when active */
    }
    nav ul li {
      margin: 30px;
      margin-left: 40%;
  }
  .quote{
      display: none;
  }
  .quote-phone {
   
    display: inline;
    font-family: 'Oswald', sans-serif;
    font-size: 1.8em;
    margin-top: 0px;
    color: #000000;

}
.hiddenquote {
    display: none;
}
#home {
    background-image: url('./assets/DSC09175.jpg');
    background-size: cover;
    background-position: center;
}

  
}    

#about {
    background-image: url('./assets/PicsArt_04-30-02.47.17.jpg');
    background-size: cover;
    background-position: center;
    height: 55vh;
    background-attachment: fixed;
}
.about-card {
  position: relative;
  width: 90%;
  max-width: 900px;
  max-height: 700px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 30px rgba(203, 209, 18, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: #d1b13e;
  transition: all 0.5s ease;
}

.about-card:hover {
  background: rgba(165, 37, 155, 0.2);
  box-shadow: 0 8px 60px rgba(0, 0, 0, 0.2);
}

.about-card img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.about-content {
  max-width: 600px;
  flex-grow: 1; /* Added to make the content wrap */
}

.about-content h2 {
  margin-top: 0;
}


@media (max-width: 768px) {
  .about-card {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 20px;
      width: 90%; /* Full width with some padding */
      margin: 0 auto; /* Center align on mobile */
  }

  .about-card img {
      margin-bottom: 20px;
      width: 100px; /* Reduce the size of the image */
      height: 100px;
  }

  .about-content {
      max-width: 100%; /* Full width content */
  }

  .social-icons {
      justify-content: center;
      flex-wrap: wrap; /* Allow wrapping if needed */
  }

 
}
.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.social-icons a img {
  width: 24px; /* Adjusted size for smaller icons */
  height: 24px; /* Adjusted size for smaller icons */
  transition: transform 0.3s ease;
}

.social-icons a:hover img {
  transform: scale(1.1);
}

.social-icons a:hover img {
  filter: invert(100%);
}

@media (max-width: 768px) {
  .social-icons {
      justify-content: center;
      flex-wrap: wrap;
  }

  .social-icons a img {
      width: 20px; /* Further adjusted size for smaller screens */
      height: 20px; /* Further adjusted size for smaller screens */
  }
}

